{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row justify-content-center pt-5">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body mt-3">
                    <h4 class="card-title mb-4 mt-1">Thay đổi mật khẩu</h4>
                    <div id="messages"></div>
                    <form method="post" id="reset_password_form">
                        <div class="form-group">
                            <label>Password old</label>
                            <input name="password" id="password" class="form-control" placeholder="*******" type="password">
                            <div id="password"></div>
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            <input name="password_confirm" id="new_password" class="form-control" placeholder="*******" type="password">
                            <div id="password_confirm"></div>
                        </div>
                          <div class="form-group">
                            <label>New password confirm</label>
                            <input name="new_password_confirm" id="new_password_confirm" class="form-control" placeholder="*******" type="password">
                            <div id="password_confirm"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="update_password" id='update_btn' class="btn btn-primary btn-block">Thay đổi </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div>
</div>
 <script>
     function  status(response) {
         if (response.status >= 200 && response.status < 300){
             return Promise.resolve(response)
         }else{
             return Promise.reject(new Error(response.statusText))
         }
     }
     function  json(response){
         return response.json()
     }
    function reset_password(){
        console.log(csrftoken);
        const form = document.getElementById('reset_password_form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const password =  document.getElementById('password').value;
            const password_new = document.getElementById('new_password').value;
            const password_confirm = document.getElementById('new_password_confirm').value;
            const data = {
                old_password: password,
                new_password: password_new,
                new_password_confirm: password_confirm
            };
            console.log(data);
            fetch('{% url 'teacher:change_password' %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-type': 'application/json',
                    "Authorization": "Bearer "+getCookie("Authorization")
                },
                body: JSON.stringify(data)
            })
                .then(status)
                .then(json)
                .then(data => {
                    if (data['success'] === 0){
                        alert(data['messages']);
                    }else{
                        alert(data['messages']);
                        window.location.href = '{% url 'teacher:info_page' %}'
                    }
                })
                .catch(error => console.log(error))
        });
    }
    reset_password ();
    </script>
{% endblock %}
